@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background-image: linear-gradient(
    to bottom right,
    #c7d2fe 0%,
    white 40%,
    #c7d2fe 100%
  );
}

.background-gradient-dark {
  background-image: linear-gradient(
    to bottom right,
    #312e81 0%,
    black 40%,
    #312e81 100%
  );
}

.prose [id]::before {
  content: "";
  display: block;
  height: 125px;
  margin-top: -125px;
  visibility: hidden;
}
